  --Sam3_Rel_FolioAvisoLlegada_Documento
  ALTER TABLE Sam3_Rel_FolioAvisoLlegada_Documento
  ALTER COLUMN ContentType varchar(max)

  --Sam3_Rel_FolioAvisoLlegada_PaseSalida_Archivo
  ALTER TABLE Sam3_Rel_FolioAvisoLlegada_PaseSalida_Archivo
  ALTER COLUMN ContentType varchar(max)

  --Sam3_Rel_FolioAvisoEntrada_Documento
  ALTER TABLE Sam3_Rel_FolioAvisoEntrada_Documento
  ALTER COLUMN ContentType varchar(max)

  --Sam3_Rel_Catalogos_Documento
  ALTER TABLE Sam3_Rel_Catalogos_Documento
  ALTER COLUMN ContentType varchar(max)

  --Sam3_Rel_PermisoAduana_Documento
  ALTER TABLE Sam3_Rel_PermisoAduana_Documento
  ALTER COLUMN ContentType varchar(max)

  --Sam3_Rel_Incidencia_Documento
  ALTER TABLE Sam3_Rel_Incidencia_Documento
  ALTER COLUMN ContentType varchar(max)



