

@{
    ViewBag.Title = "";
}

<div id="modalItemCode" class="form clearfix popup col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="row col-sm-12 col-md-12 col-lg-12" style="width: 100%; padding-right:0px; ">
                <div class="form-group">
                    <div id="ContenedorGridPopUp">
                        <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12 col-md-12 col-lg-12" style="padding-right:0px;">
                <div class="col-sm-2 col-md-2 col-lg-2">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                </div>
                <div class="col-sm-3 col-d-3 col-lg-2">
                    <label id="">&nbsp;</label>
                    <a class="btn btn-primary " href="#" id="GuardarDetallePruebas">
                        <span id="botonAgregarComponente"></span>
                    </a>
                </div>
                <div class="col-sm-3 col-d-3 col-lg-2">
                    <label id="">&nbsp;</label>
                    <a class="btn btn-primary " href="#" id="CerrarDetallePruebas">
                        <span id="botonCancelar2"></span>
                    </a>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaPopup/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaPopup/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaPopup/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaPopup/Captura.js"> </script>
